extend componentes/plantilla.pug
block contenidos
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido
        h2 #{titulos[0]}
        p
         | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         | Magni saepe esse rem corporis deleniti dolorem illo minima 
         | obcaecati molestiae. Excepturi autem quos distinctio placeat 
         | sunt corporis animi, quia dolores quasi?
         span Texto complementario. BUda maduca calamaduca 
        a.boton Leer Mas
    main.contenido
      +caja('imagen.png', titulos[1],'Contenido de la caja uno. Muy impresionante')
      +caja('imagen.png', titulos[2],'Contenido de la caja dos. Muy impresionante')
      +caja('imagen.png', titulos[3],'Contenido de la caja tres. Muy impresionante')